server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: elements-service-route
          uri: lb://elements-service
          predicates:
            - Path=/api/reservations/**, /api/payments/**, /internal-sync/categories/**

        - id: category-service-route
          uri: lb://category-service
          predicates:
            - Path=/api/services/**, /api/clients/**, /api/employees/**, /api/rooms/**


eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.web.server.adapter.HttpWebHandlerAdapter: TRACE